

{% if footer != 'no' %}
<nav class="navbar fixed-bottom" role="navigation">
	<div class="container">
		Footer text here - 
		<a href="/admin">##footer_admin##</a> - 
		<a href="/imprint">##footer_imprint##</a> - 
		<a href="/contact">##footer_contact##</a> - 
		<a href="/privacy">##footer_privacy##</a> - 
		<a href="/terms">##footer_terms##</a>
	</div>
</nav>
{% endif %}



<script src="/bower/jquery/dist/jquery.min.js"></script>
<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower/less/dist/less.min.js"></script>
<script src="/javascript/global.js"></script>

#pebug_bottom#

</body>
</html>