<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" role="navigation">
    <div class="container">

        <a class="navbar-brand" href="/about">
            <i class="fa fa-leaf" aria-hidden="true"></i>
            ##navbar_home##
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">##navbar_welcome##</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/gardening">##navbar_gardening##</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/media">##navbar_media##</a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav languageBox">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-globe"></i>
                    ##languages##
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for item in tplLanguageList %}
                        <a class="languageSwitch" id="{{ item.language }}" href="/ajax/language?lang={{ item.language }}">
                        <span class="line">
                            <span class="right">
                                {{ item.native }}
                            </span>
                            <span class="left">
                                {% if tplLanguageListActive == item.language %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                                {{ item.name }}
                            </span>
                        </span>
                        </a>
                    {% endfor %}
                </div>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>


