{% include 'layout/header.twig' %}
{% include 'layout/navigation.twig' with {'active': '404'} %}

<div class="container">
    <h1>##headline##</h1>
    <p>
        ##paragraph##
    </p>
</div>

{% include 'layout/bottom.twig' %}
