{% include 'layout/header.twig' %}
{% include 'layout/navigation.twig' with {'active': 'login'} %}

<div class="container">
    <h1>##login_headline##</h1>
    <form action="/login/action" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" placeholder="Password" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% include 'layout/bottom.twig' %}